/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
	/* Primary color */
	--lightRed: hsl(0, 100%, 67%);
	--orangeyYellow: hsl(39, 100%, 56%);
	--greenTeal: hsl(166, 100%, 37%);
	--cobaltBlue: hsl(234, 85%, 45%);

	/* Grandients color */
	--lightSlateBlue: hsl(252, 100%, 67%); /*background*/
	--lightRoyalBlue: hsl(241, 81%, 54%); /*background*/
	--violetBlue: hsla(256, 72%, 46%, 1); /*circle*/
	--persianBlue: hsla(241, 72%, 46%, 0); /*circle*/

	/* Neutral color */
	--white: hsl(0, 0%, 100%);
	--paleBlue: hsl(221, 100%, 96%);
	--lightLavender: hsl(241, 100%, 89%);
	--darkGrayBlue: hsl(224, 30%, 27%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Hanken Grotesk', sans-serif;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}


#container {
	display: flex;
	flex-direction: row;
}


#container #left_board {
	width: 50%;
	color: var(--white);
	text-align: center;
	background: linear-gradient(var(--lightSlateBlue), var(--lightRoyalBlue));
}

#container #left_board #left_result {
	color: var(--lightLavender);
	margin: 25px;
}

#container #left_board #left_score {
	border-radius: 50%;
	box-shadow: inset 10px 5px var(--lightSlateBlue) inset 10px 5px var(--lightRoyalBlue);
}





#container #right_board {
	width: 50%;
	margin: 25px;
}

#container #right_reaction {
	background-color: var(--lightRed);
	color: var(--lightRed);
}

#container #right_memory {
	color: var(--orangeyYellow);
}

#container #right_verbal {
	color: var(--greenTeal);
}

#container #right_visual {
	color: var(--cobaltBlue);
}


#attribution {
	position: absolute;
	bottom: 0;
	margin-bottom: 1rem;
	font-size: 11px;
	text-align: center;
}

#attribution a {
	color: hsl(228, 45%, 44%);
}